.flexContainer {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 1rem;
}
.form-group-custom {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}

.tableWrap {
  height: 400px;
  overflow: auto;
}
thead tr th {
  position: sticky;
  top: 0;
  background: white;
}

table {
  border-collapse: collapse;
}

th {
  padding: 16px;
  padding-left: 15px;
  text-align: left;
}
table {
  width: 100%;
}
table td {
  padding: 16px;
}
