body,
html {
  font-family: "Roboto", sans-serif;
  color: #000000de;
  margin: 0;
  padding: 0;
}
.app_wrapper {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background-color: #2196f3;
  box-shadow: 0px 2px 4px 0px rgba(59, 59, 59, 0.32);
  color: white;
  padding: 10px;
  font-weight: bold;
  height: 3vh;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
}

.detailed {
  display: flex;
  flex: 80%;
  padding: 20px;
}
.detailedText {
  padding: 20px;
  max-width: 60vw;
  font-size: 2vh;
}

.detailedImg img {
  width: 20vw;
}

.thumbnails_item {
  border: 1px dashed black;
  border-left: 0px;
  box-shadow: 0px 2px 4px 0px rgba(59, 59, 59, 0.32);
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.active {
  font-weight: bold;
  color: white;
  background-color: #2196f3;
  border: 1px dashed #64b5f6;
  border-left: 0px;
}
.active:hover {
  font-weight: bold !important;
  color: white !important;
  background-color: #2196f3 !important;
  border: 1px dashed #64b5f6 !important;
  border-left: 0px !important;
}
.thumbnails_item:hover {
  border: 1px dashed #90caf9;
  border-left: 0px;
  background-color: #e3f2fd;
  cursor: pointer;
}
.thumb_text {
  padding: 20px;
  text-transform: capitalize;
}
.thumbnails_title {
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: red;
}
.thumbnails_image {
  width: 40px;
  padding: 10px;
}
.logo_title {
  position: fixed;
  background-color: white;

  text-align: center;
  width: 100%;
}
.thumbnails_list {
  list-style: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  margin-right: 20px;
}

a,
a:active,
a:visited {
  color: white;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}

.hiddenItem {
  display: none;
}

.animationDiv {
  box-shadow: 0px 2px 4px 0px rgba(59, 59, 59, 0.32);
  border-radius: 70px;
  padding: 5px;
  padding-top: 45px;
  text-align: center;

  width: 100px;
  height: 60px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: -200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: -200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

/* Standard syntax */
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: -200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: -200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
@media screen and (max-width: 700px) {
  .thumb_text {
    display: none;
  }
  .detailed {
    flex-direction: column;
  }
  .detailedImg {
    text-align: center;
  }
  .detailedImg img {
    width: 40vw;
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.detailedMenuNav {
  position: absolute;
  right: 35px;
}
.buttonStyle {
  border: 1px dashed black;
  box-shadow: 0px 2px 4px 0px rgba(59, 59, 59, 0.32);
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  background: #2196f3 !important;
  color: white;
}
.buttonStyleDisabled {
  border: 1px dashed black;
  box-shadow: 0px 2px 4px 0px rgba(59, 59, 59, 0.32);
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  background: gray;
  color: white;
}
